* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.header{
    display: flex;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    position: sticky;
    top:0;
    z-index: 99;
}
nav h2{
    margin-left: 0;
    font-weight:bolder;
    font-size: 30px;
    color: #333333;
}
nav {
    display: flex;
    gap:20px;
    align-items: center;
}
.logo{
	height: 40px;
    margin-top: -2px;
}
body {
    font-family: 'Dubai';
    color: #333;
    opacity: 0; 
    animation: fadeIn 2s ease-in-out forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0; /* Fully transparent at the start */
    }
    100% {
        opacity: 1; /* Fully opaque at the end */
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

p {
    text-align: center;
    margin-top: 20px;
    opacity: 0.7;
}

h1 {
    text-align: center;
}

.button2 {
    height: 60px;
    width: 60px;
    background-color: #0962c7;
    border: 2px solid #0962c7;
    font-size: 35px;
    color: white;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 40%;
}

.solid-line-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-bottom: 15px;
    border-bottom: 2px solid #000; /* Solid bottom line */
    outline: none; /* Removes the default outline when focused */
    transition: border-color 0.3s ease; /* Smooth transition for focus effect */
}

.solid-line-input:focus {
    border-bottom: 2px solid #0962c7; /* Changes color when focused */
}

.button1{
  margin-top: 120px;
}